<!--Criamos a página Notícia-->
@model Noticia 
@{
    //Nossa View passa-se a se chamar Noticias.
    ViewData["Title"] = "Noticias";
}

<div class="titulo_pagina">
    <h1>cadastro de @ViewData["Title"]</h1>
</div>

<!--Criamos um formulário, que vai chamar o método Cadastrar do NoticiaController.-->
<form class="cadastro" action="@Url.Action("Cadastrar")" method="POST" enctype="multipart/form-data"> <!--Usamos POST pois é melhor e mais seguro. Quando há envio de arquivos, precisa-se usar este enctype.-->
    <!--Este método, Cadastrar, vai ler todos os inputs e vai criar o objeto. Vai cadastrar o objeto no bd. Uma viewbag vai ler todos os cadastros. Em seguida, printamos esta viewbag.-->

    <div class="campo">
        <label for="IdNoticia">Id</label>
        <input type="text" name="IdNoticia" id="IdNoticia"> <!--Este name tem que ser igual ao colocado no c#-->
    </div>

    <div class="campo">
        <label for="Titulo">Titulo</label>
        <input type="text" name="Titulo" id="Titulo">
    </div>

    <div class="campo">
        <label for="Texto">Texto</label>
        <input type="text" name="Texto" id="Texto" size="50">
    </div>

    <div class="campo">
        <label for="Imagem">Imagem</label>
        <input type="file" name="Imagem" id="Imagem"> <!--type= file-->
    </div>

    <button class="gradient btn" type="submit">Cadastrar</button>

</form>

<!--Agora cria-se uma tabela e printamos todos valores de nossa ViewBag.-->
<table class="table table-striped table-responsive">
    <thead>
        <th>Id</th>
        <th>Titulo</th>
        <th>Texto</th>
        <th>Imagem</th>
    </thead>
    <tbody>
        @foreach(var item in ViewBag.Noticias) {
            <tr>
                <td>@item.IdNoticia</td>
                <td>@item.Titulo</td>
                <td>@item.Texto</td>
                <td><img src="img/Noticias/@item.Imagem" alt="Imagem da notícia @item.Titulo"></td>
                @*Comentário em Razor-> Vai usar o controlador de Noticia, o método Excluir deste controlador, e vai atribuir o valor à rota.*@
                <td><a asp-controller="Noticia" asp-action="Excluir" asp-route-id="@item.IdNoticia"><i class="fa fa-trash"></i></a></td>
            </tr>
        }
    </tbody>
</table>
